<h1>Öğrenci Listesi</h1>

<div class="index-container">
  <h2>Öğrenciler</h2>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Ad Soyad</th>
          <th>Fotoğraf</th>
          <th>Öğrenci Numarası</th>
          <th>Yoklama Bilgileri</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
            <td>
              <% if student.photo.attached? %>
                <%= image_tag student.photo, alt: student.name, width: 50, height: 50 %>
              <% else %>
                <p>No photo</p>
              <% end %>
            </td>
            <td><%= student.student_number %></td>
            <td>
              <%= link_to 'Tüm Yoklamalar', student_student_attendances_path(student), class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= link_to 'Yeni Öğrenci Ekle', new_student_path, class: "button" %>
</div>
