<h1>Yeni Öğrenci Ekle</h1>

<%= form_with model: @student, local: true do |f| %>
  <div>
    <%= f.label :name, "Adı" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :student_number, "Öğrenci Numarası" %>
    <%= f.text_field :student_number %>
  </div>

  <div>
    <%= f.label :photo, "Fotoğraf" %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.submit "Kaydet" %>
  </div>
<% end %>

<%= link_to "Geri Dön", students_path %>

